body{

background-image:url("home.jpg");
}

#d1{
	margin-top:100px;
	height:400px;
	width:600px;
	margin-left:400px;
	border:1px solid;
	border-radius:10px;
	background-color:#2f2f30;
	box-shadow:2px 2px 2px 2px black;

}
#i1{
transition: transform .2s;
width:200px;height:50px; margin-left:200px;margin-top:20px;font-size:25px;border-radius:10px;font-weight:bold;background-color:#14ba7a;font-family:serif;
}


#i1:hover{
background-color: black;
color:white;
transform: scale(1.1);
}


#i2{
width:200px;height:50px; margin-left:200px;margin-top:20px;font-size:25px;border-radius:10px;font-weight:bold;background-color:#14ba7a;font-family:serif;
transition: transform .2s;
}

#i2:hover{
background-color: black;
color:white;
transform: scale(1.1);
}